<table id="ressourcesTable" class="table table-hover">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Type</th>
			<th>Catégorie</th>
			<th>Dernière modification</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for ressource in ressources %}

		{% set date = ressource.creationDate|date('Y-m-d') %}

		<tr data-ressources--filter-target="row"
			data-name="{{ ressource.title }}"
			data-type="{{ ressource.getType().value }}"
			data-date="{{ date }}">
			<td>{{ ressource.title }}</td>
			<td>{{ ressource.type.value }}</td>
			<td>{{ ressource.category.name }}</td>
			<td>{{ date }}</td>
			<td class="text-end position-relative" data-controller="row-menu">
				<button class="btn btn-sm" type="button" data-action="click->row-menu#toggle">
					<i class="bi bi-three-dots-vertical"></i>
				</button>
				<div class="filter-menu row-menu" data-row-menu-target="menu">
					<a class="row-menu-item no-underline text-decoration-none" href="{{ path('ressource_edit', { 'id': ressource.id }) }}">Modifier</a>
					<form id="delete{{ ressource.id }}" method="post" action="{{ path('ressource_delete', {'id': ressource.id}) }}" data-controller="confirm">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ressource.id) }}">
						<a type="button" class="row-menu-item flex-shrink-0" id="{{ ressource.id }}" data-action="confirm#confirmDeletion" title="Supprimer" data-bs-toggle="tooltip">
							Supprimer
						</a>
					</form>
					{% if ressource.type.value == "file" %}
						<button type="button" class="row-menu-item">Télécharger</button>
					{% endif %}
				</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
